exploration_node:
  ros__parameters:
    exploration_height: 2.0
    height_margin: 3.0
    slice_thickness: 0.5
    map_topic: "/map_3d"
    drone_height_topic: "/drone_height"
    odom_topic: "/current_state_est"
    frontier_rank: 0
    max_frontier_cost: 400.0
    min_exploration_height: 0.5
    max_exploration_height: 10.0
